:root {
	--primary-color:#08f;
	--danger-color:#b44;
	--secondary-color:#aaa;
	--information-color:#dd8;
	--success-color:#4b4;

	--text-color:#333;
	--primary-transparent:rgba(0,128,255,0.2);
	--secondary-transparent:rgba(160,160,160,0.2);
	
}



html, body {
	height: 100%;
	margin: 0;
	font-size:10px;
	font-family: Sans-Serif;
	color:var(--text-color);
	box-sizing: border-box;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}



.header {
	border-bottom:1px solid var(--secondary-color);
	height:5rem;
	font-size:1.5rem;
	display:flex;
	justify-content: space-between;
	align-items:center;
}



.header-section {
	padding-left:1rem;
	padding-right:1rem;
	display:flex;
	justify-content:start;
	align-items:center;
}

.footer {
	border-top:1px solid var(--secondary-color);
	height:5rem;
	font-size:1.5em;
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.content {
	flex: 1;
	overflow-x: hidden;
	overflow-y:auto;
}

.nav {
	display:flex;
	align-items:center;
	padding-left:1rem;
	padding-right:1rem;
	line-height:3rem;
	font-size:1.5rem;
	
}

.nav-item {
	background-color:var(--primary-transparent);
	border-bottom:0.2rem solid white;
	padding-left:1rem;
	padding-right:1rem;
	color:var(--text-color);
	margin:0.5rem;
	cursor:pointer;
}

.nav-selected {
	border-bottom:0.2rem solid var(--danger-color);
}

.sidebar {
	position:fixed;
	top:0;
	left:0;
	width:0px;
	height:100%;
	z-index:1;
	background-color:white;
	transition:0.2s;
	border-right:1px solid var(--secondary-color);
	font-size:1.5rem;
	overflow:hidden;
}

.sidebar-close {
	font-size:3rem;
	text-align:right;
	padding:1rem;
}

ul {
	list-style-type: none;
	margin: 1rem;
	padding: 1rem;
}

li {
	padding:1rem;
}

.modal {
	position:fixed;
	top:0;
	left:0;
	width:0px;
	height:100%;
	z-index:1;
	background-color:rgba(0,0,0,0.7);
	transition:0.2s;
	border-right:0px solid var(--secondary-color);
	font-size:1.5rem;
	overflow:hidden;
	display:flex;
	justify-content: center;
	align-items: center;
}

.modal-card {
	margin:2rem 2rem 2rem 2rem;
	padding:3rem 2rem 3rem 2rem;
	border:1px solid var(--secondary-color);
	border-radius:0.2rem;
	font-size:1.5rem;
	overflow:auto;
	z-index:10;
	background:white;
}

.card {
	margin:2rem 2rem 2rem 2rem;
	padding:3rem 2rem 3rem 2rem;
	border:1px solid var(--secondary-color);
	border-radius:0.2rem;
	font-size:1.5rem;
	overflow:auto;
}

.container {
	margin:1rem;
	padding:1rem;
	border:none;
	font-size:1.5rem;
	overflow:auto;
}
  
  
a,a:active,a.visited {
	font-size:1.5rem;
	text-decoration:none;
	color:var(--primary-color);
}

a:hover {
text-decoration:none;
color:var(--secondary-color);
}


a.btn-lg:active {
	font-size:3rem;
}

a.btn-sm:active {
	font-size:1rem;
}

.btn-lg {
	font-size:3rem;
}

.btn-sm {
	font-size:1rem;
}

.btn,.btn:active,.btn:focus{
	margin:0.5rem;
	padding:0.5rem;
	background:var(--secondary-transparent);
	color:var(--text-color);
	border:none;
	border-radius:0.2rem;
	text-transform:uppercase;
	outline:none;
	
}

.btn:hover {
	background:var(--secondary-color);
}

.btn-primary,.btn.primary:active,.btn-primary:focus {
	background:var(--primary-color);
	color:white;
}

.btn-success,.btn.success:active,.btn-success:focus {
	background:var(--success-color);
	color:white;
}


.btn-danger,.btn.danger:active,.btn-danger:focus {
	background:var(--danger-color);
	color:white;
}

.p10 {
	padding-left:1rem;
	padding-right:1rem;
}

.flex-left {
	padding-top:1rem;
	display:flex;
	justify-content:flex-start;

}

.flex-right {
	padding-top:1rem;
	display:flex;
	justify-content:flex-end;

}

.flex-justify {
	padding-top:1rem;
	display:flex;
	justify-content:space-between;

}

table {
	border-collapse: collapse;
  }
  
  td, th {
	border: 1px solid var(--text-color);
	padding: 0.5rem;
	text-align: left;
  }
